<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate your diary app</title>
<body>

<p>
    <h2>Welcome to My_Diary App</h2>
    <h4>Dear %s,</h4><br/><br/>
    Thank you for signing up for Diary App!
</p>

<p>
    To activate your account and start using the app, please enter the following otp number
    <h2>%s</h2>
</p>

<p>
    If you did not sign up for Diary App, please ignore this email.
</p>

<p><br>
    Thank you for choosing My_Diary App. <span class="noticeSpan">Please note that the button will expire after 10 minutes.</span>
</p><br>

<p>
    Best Regards,<br/>
    <Strong>Oso Temidayo David</Strong><br>
    Java Software engineer and
    the Builder of My_Diary App
</p>

</body>
</html>